html
  head
    title= langText.title
    link(rel='stylesheet', href='./bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='./font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='./css/site.css')
    link(rel='stylesheet', href='https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css')
    script(src='./jquery/jquery.min.js')
    script(src='./bootstrap/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js')
    script(src='https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js')
    script(src='./particles.js/particles.js')
    script(src='./js/site.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  body
    div(class='h-100 particle-network-animation', id='particle-network-animation')
    div(class='cover-container h-100 w-100 site-header', style='background-image:url(./images/mainBackground.png)')
      div(class='container')
        div(class='row')
          div(class='col')
            img(src='./images/Logo.png', class="site-logo")
          div(class='col-xs-3 text-right', style='z-index: 1001')
            div 
              case currentLang
                when 'cn'
                  button(class='btn btn-lang active', onclick="window.location='/cn'") 中
                  button(class='btn btn-lang', onclick="window.location='/en'") EN
                when 'en'
                  button(class='btn btn-lang', onclick="window.location='/cn'") 中
                  button(class='btn btn-lang active', onclick="window.location='/en'") EN
        div(class='row justify-content-md-center h-100 text-center')
          div(class='col-12 col-md-7 align-self-center', style='margin-bottom: 1rem;')
            div(class='topBanner caption')= langText.topBanner.caption
            div(class='topBanner subCaption')= langText.topBanner.subCaption
            div(class='topBanner description')
              each desc in langText.topBanner.description
                div= desc
            div(class='topBanner footer', style='margin-bottom: 1rem;')
              i(class='fa fa-facebook-official fa-lg')
              i(class='fa fa-linkedin-square fa-lg')
              i(class='fa fa-github fa-lg')
              i(class='fa fa-instagram fa-lg')
              i(class='fa fa-twitter fa-lg')
              i(class='fa fa-medium fa-lg')
              i(class='fa fa-telegram fa-lg')
            div(class='topBanner', style='margin-bottom: 3rem; z-index: 1001')
              div(class='text-center')
                button(class='btn btn-outline-light')= langText.topBanner.subscribeBox.btnWhitePaper

    div(class='cover-container contentWrapper theProblem')
      div(class='container')
        div(id='carouselExampleIndicators', class='carousel slide', data-ride='carousel')
          ol(class='carousel-indicators')
            each problemItem, index in langText.theProblem
              if index == 0
                li(data-target='#carouselExampleIndicators', data-slide-to!=index, class='active')
              else
                li(data-target='#carouselExampleIndicators', data-slide-to!=index)
          div(class='carousel-inner')
            each problemItem, index in langText.theProblem
              if index == 0 
                div(class='carousel-item active text-center')
                  div(class='carousel-inner-item') 
                    div
                      h1= problemItem.header
                      hr(class='hrLight', style='margin-bottom: 1.5rem')
                      div(style='line-height:2em')!= problemItem.content
              else
                div(class='carousel-item  text-center')
                  div(class='carousel-inner-item') 
                    div
                      h1= problemItem.header
                      hr(class='hrLight', style='margin-bottom: 1.5rem')
                      div(style='line-height:2em')!= problemItem.content

    div(class='cover-container contentWrapper solution', style='background-image:url(./images/Key_feature_bg.png); background-position: top center; background-size: cover; background-repeat: no-repeat ')
      div(class='container')
        div(class='row')
          div(class='col')
            h1(class='text-center')= langText.solution.title
            hr(class='hrYellow')
        each sectionItem in langText.solution.section
          div
            h4(class='text-center')
              span(class='badge badge-warning', style='color: #FFFFFF;')= sectionItem.title
            each item, index in sectionItem.items
              if index % 2 == 0
                div(class='row align-items-center solutionItem', data-aos='fade-up', data-aos-delay='200')
                  div(class='col-12 col-md-5 text-center')
                    img(src!='./images/' + item.image, style='width: 250px; margin: 0 auto')
                  div(class='col-12 col-md-7')
                    h5= item.title
                    p= item.description
                    each subItem in item.subItems
                      li= subItem
              else
                div(class='row align-items-center  solutionItem', data-aos='fade-up', data-aos-delay='200')
                  div(class='col-12 col-md-7 order-last order-md-first')
                    h5= item.title
                    p= item.description
                    each subItem in item.subItems
                      li= subItem
                  div(class='col-12 col-md-5 text-center')
                    img(src!='./images/' + item.image, style='width: 250px; margin: 0 auto')
            if sectionItem.descriptionBlock 
              div(class='row w-100 contentBlock', data-aos='fade-up', data-aos-delay='200')
                div(class='col-12 col-md-6')
                  h4!= sectionItem.descriptionBlock.caption
                  each contentItem in sectionItem.descriptionBlock.contentItem
                    div(style='margin-bottom: 1.5em')
                      div
                        strong(style='font-size: 1.3em')= contentItem.header
                      div= contentItem.content
                div(class='col-12 col-md-6')
                
                
    
    div(class='cover-container contentWrapper coreValue', style='background-image:url(./images/core_bg.png)')
      div(class='container')
        div(class='row')
          div(class='col text-center')
            h1= langText.coreValue.title
            hr(class='hrYellow')
            div(class='row justify-content-center')
              each item, index in langText.coreValue.items
                if index % 2 == 0
                  div(class='col-10 col-md coreValueItem', style='min-height: 25rem; margin-bottom: 1rem;', data-aos="flip-left", data-aos-delay!=(index*200))
                    img(src!='./images/coreValue' + index + '.svg', style='height: 150px')
                    div(class='coreValueItemHeader')= item.caption
                    div(class='coreValueItemDescription')= item.description
                else
                  div(class='col-10 col-md coreValueItem', style='min-height: 25rem; margin-bottom: 1rem;', data-aos="flip-right", data-aos-delay!=(index*200))
                    img(src!='./images/coreValue' + index + '.svg', style='height: 150px')
                    div(class='coreValueItemHeader')= item.caption
                    div(class='coreValueItemDescription')= item.description
    
    div(class='cover-container contentWrapper roadMap', style='background: #646464')
      div(class='container')
        div(class='row')
          div(class='col')
            h1(class='h1Yellow text-center')= langText.roadmap.title
            hr(class='hrLight')
        div(class='row')
          div(class='col')
            each item, index in langText.roadmap.items
              div(class='row align-items-center roadmapItem no-gutters', style='padding: 2rem', data-aos='fade-up', data-aos-delay='200')
                if index % 2 == 0
                  div(class='col-12 col-md-5 text-center') 
                    div(style!='background-color: #FFBF00; width: 250px; height:250px; border-radius: 250px; margin:0 auto;background-position:center; background-size:cover; background-image:url(./images/' + item.image + ')')
                  div(class='col-3 col-md-2 text-center')
                    img(src='./images/road_map_line_01.png', style='height: 220px')
                  div(class='col-9 col-md-5')
                    div(class='roadMapHeader')= item.dateString
                    div(class='roadMapHeader')= item.caption
                    each desc in item.descriptionItem
                      div(class='roadMapItem')= desc
                else
                  div(class='col-9 col-md-5 order-2 order-md-1 text-right')
                    di(class='roadMapHeader')= item.dateString
                    div(class='roadMapHeader')= item.caption
                    each desc in item.descriptionItem
                      div(class='roadMapItem')= desc 
                  div(class='col-3 col-md-2 order-3 order-md-2 text-center')
                    img(src='./images/road_map_line_02.png', style='height: 220px')
                  div(class='col-12 col-md-5 order-1 order-md-last text-center')
                    div(style!='background-color: #C0C0C0; width: 250px; height:250px; border-radius: 250px;  margin:0 auto;background-position:center; background-size:cover; background-image:url(./images/' + item.image + ')')

    div(class='cover-container contentWrapper distributionOfTokens', style='background-image:url(./images/Distribution_bg.svg)')
      div(class='container')
        div(class='row')
          div(class='col')
            h1(class='text-center')= langText.distributionOfTokens.title
            hr(class='hrYellow')
            div(class='text-center') 
              canvas(id='myChart', style='width:40vw; margin:0 auto')
              div(class='row', style='margin-top: 1rem;')
                each item in langText.distributionOfTokens.legendItems
                  div(class='col-3')
                    div
                      div(style!='display:inline-block; vertical-align:middle; width: 16px; height: 16px; margin-right:1rem; background-color: ' + item.color)
                      div(style='display:inline-block; vertical-align:middle;')= item.caption
              div(class='distributionTable')
                div(class='distributionTableArrow')
                each item in langText.distributionOfTokens.items
                  div(class='text-left', style='margin-bottom: 2rem;')
                    h3= item.value + ' '
                      small(style='font-size: 0.7em')= item.caption
                    div(style='line-height: 2em;')= item.description

    div(class='cover-container contentWrapper founder', style='background: #505050; background-image:url(./images/founder_bg.svg); background-size: 80%; background-repeat: no-repeat; background-position: top center')
      div(class='container')
        div(class='row')
          div(class='col')
            h1(class='h1Yellow text-center')= langText.founder.title
            hr(class='hrLight')
        div(class='row ')
          each item, index in langText.founder.founders
            div(class='col-12 col-md-6', data-aos='fade-up', data-aos-anchor-placement='top-bottom', data-aos-delay!=(index*200))
              div(class='container founderContainer')
                div(class='row align-items-center')
                  div(class='col-12 col-md-5')
                    div(class='founderImage', style='margin: 0 auto;')
                  div(class='col-12 col-md-7 founderName  text-center')
                    div= item.name