- var founders = langText.founder.founders
div(class='cover-container contentWrapper founder')
    div(class='container'): div(class='row')
      div(class='col')
        h1()= langText.founder.title
        hr(class='yellow')
        each founder, index in founders
          div(class='row justify-content-center'): div(class='col-10 founderItem', class=(index % 2 == 0)?'text-left':'text-right', data-aos='fade-up', id='founderItem' + index, founder=founder)
            if index % 2 == 0
              img(src=founder.image, class='w-25')
              div(class='leftSide')= founder.name
            else
              div(class='rightSide')= founder.name
              img(src=founder.image, class='w-25')

div(class='modal fade', id='founderModal', role='dialog', tabindex='-1', aria-hidden='true')
  div(class='modal-dialog modal-dialog-centered', role='document')
    div(class='modal-content')
      div(class='modal-header')
        h5(id='founderName')
        button(class='close', type='button', aria-label='Close', data-dismiss='modal')= 'X'
      div(class='modal-body')
        div(id='founderDescription')
