- var solution1 = langText.solution.section[0]
- var solution2 = langText.solution.section[1]
- var solution3 = langText.solution.section[2]

div(class='cover-container w-100 solution1')
  div(class='container')
    div(class='row'): div(class='col')
      h1(class='white')= solution1.title
      hr(class='white')
      each item, index in solution1.items
          if index <= 2 
            div(class='row white align-items-center section')
              div(class='col-12', data-aos='fade-up')
                img(src!='../images/' + item.image, class='w-100')
              div(class='col-12', data-aos='fade-up')
                h2(class='white')!= item.title
                div(class='description')!= item.description
                ul
                  each pointItem in item.subItems
                    li= pointItem
          else
            div(class='row  align-items-center section')
              div(class='col-12', data-aos='fade-up')
                img(src!='../images/' + item.image, class='w-100')
              div(class='col-12', data-aos='fade-up')
                h2!= item.title
                div(class='description')!= item.description
                ul
                  each pointItem in item.subItems
                    li= pointItem
        
    div(class='row sectionRemark')
      div(class='col-12 text-center', data-aos='fade-up')
        h2!= solution1.descriptionBlock.caption
      div(class='col-12', data-aos='fade-up')
        each item in solution1.descriptionBlock.contentItem
          h2= item.header
          div(class='content')= item.content

div(class='cover-container w-100 solution2')
  div(class='container')
    div(class='row'): div(class='col')
      h1= solution2.title
      hr(class='yellow')
    div(class="row"): div(class="col")
      div(class="text-center"): img(src!="/images/solution2-" + currentLang + ".png", alt="", class="w-50")
      - var solution2Items = solution2.items
        div(class='row')
          div(class="contentPanel", data-aos='fade-up')
            div(class='col-12')
              h2= solution2Items[0].title
              div= solution2Items[0].description
              ul
                each pointItem in solution2Items[0].subItems
                  li= pointItem
          div(class="contentPanel", data-aos='fade-up')
            div(class='col-12')
              h2= solution2Items[1].title
              div= solution2Items[1].description
              ul
                each pointItem in solution2Items[1].subItems
                  li= pointItem
    

div(class="cover-container w-100 solution3")
  div(class="container")
    div(class='row'): div(class='col')
      h1= solution3.title
      hr(class='yellow')
      each content, index in solution3.items
        if index == 0
          img(src!="/images/solution3-6-" + currentLang + ".svg", class="w-100")
        if index == 2
          img(src!="/images/solution3-7-" + currentLang + ".svg", class="w-100")
        div(class="contentItem")
          h2= content.title
          p= content.description
          div(class="subItemsContainer")
            ul
              each pointItem in content.subItems
                li= pointItem