- var founders = langText.founder.founders
div(class='cover-container contentWrapper founder')
    div(class='container'): div(class='row')
      div(class='col')
        h1()= langText.founder.title
        hr(class='yellow')
        each founder, index in founders
          div(class='row justify-content-center'): div(class='col-10 founderItem', class=(index % 2 == 0)?'text-left':'text-right', data-aos=(index % 2 == 0)?'fade-left':'fade-right', id='founderItem' + index, founder=founder)
            if index % 2 == 0
              div
                img(src=founder.image)
                div(class='founder-name')
                  div(class='leftSide')= founder.name
                  div(class='founder-title-left'): small= founder.title
              div(class='founder-desc')!= founder.description
            else
              div
                div(class='founder-name')
                  div(class='rightSide')= founder.name
                  div(class='founder-title-right'): small= founder.title
                img(src=founder.image)
              div(class='founder-desc text-left')!= founder.description
