canvas(id='particle-network-animation', class='w-100 h-100', style='margin-bottom: -100%')
div(class='cover-container h-75 w-100 site-header')
  div(class='container')
    div(class='row'): div(class='col text-right')
      div(class='dropdown')
        button(class='btn btn-outline-light btn-sm dropdown-toggle', id='dropdownMenuButton', data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")= langText.lang[currentLang]
        div(class='dropdown-menu', aria-labelledby='dropdownMenuButton')
          <a class="dropdown-item" href="/en">ENG</a>
          <a class="dropdown-item" href="/cn">简体中文</a>
    div(class='row justify-content-md-center h-100 text-center')
      div(class='col align-self-center')
        div(class='logo')
          img(class='site-logo', src='./images/logo.svg')
        div(class='caption')!= langText.topBanner.caption
        div(class='subCaption')= langText.topBanner.subCaption
        div(class='description')
          each desc in langText.topBanner.description
            div= desc
        div(class='social')
          a(href='https://www.facebook.com/Finchain-1791413584498001', target='_blank'): i(class='fa fa-facebook-official fa-lg')
          a(href='https://www.linkedin.com/company/finchain', target='_blank'): i(class='fa fa-linkedin-square fa-lg')
          a(href='https://github.com/finchainproject', target='_blank'): i(class='fa fa-github fa-lg')
          a(href='https://twitter.com/Finchain_FIN', target='_blank'): i(class='fa fa-twitter fa-lg')
          a(href='https://medium.com/finchain', target='_blank'): i(class='fa fa-medium fa-lg')
          a(href='https://t.me/joinchat/GYu2IxHVwalfa8vtU-JX5A', target='_blank'): i(class='fa fa-telegram fa-lg')
        div(class='btnDownload-wrapper')
          div(class='text-center')
            button(class='btn btn-download', onclick='window.open("' + langText.PDFFilePath + '")')= langText.topBanner.subscribeBox.btnWhitePaper 
            span= ' '
            button(class='btn btn-download', onclick='window.open("' + langText.DeckFilePath + '")')= langText.topBanner.subscribeBox.btnDeck