- var solution1 = langText.solution.section[0]
- var solution2 = langText.solution.section[1]
- var solution3 = langText.solution.section[2]

div(class='cover-container w-100 solution1')
  div(class='container')
    div(class='row'): div(class='col')
      h1(class='white')= solution1.title
      hr(class='white')
      each item, index in solution1.items
        if index % 2 == 0 
          if index == 0 
            div(class='row white align-items-center section')
              div(class='col-md-7', data-aos='fade-right')
                h2(class='white')!= item.title
                div(class='description')!= item.description
                ul
                  each pointItem in item.subItems
                    li= pointItem
              div(class='col-md-5')
                img(src!='../images/' + item.image, class=(item.imageClass?item.imageClass:''), data-aos='fade-left')
          else
            div(class='row align-items-center section')
              div(class='col-md-7', data-aos='fade-right')
                h2!= item.title
                div(class='description')!= item.description
                ul
                  each pointItem in item.subItems
                    li= pointItem
              div(class='col-md-5')
                img(src!='../images/' + item.image, class=(item.imageClass?item.imageClass:''), data-aos='fade-left')
        else
          div(class='row  align-items-center section')
            div(class='col-md-5 col-lg-5')
              img(src!='../images/' + item.image, class='leftSideImage', class=(item.imageClass?item.imageClass:''), data-aos='fade-right')
            div(class='col-md-7 col-lg-7', data-aos='fade-left')
              h2!= item.title
              div(class='description')!= item.description
              ul
                each point in item.subItems
                  li= point
    div(class='row sectionRemark')
      div(class='col')
        h2!= solution1.descriptionBlock.caption
      div(class='col')
        each item in solution1.descriptionBlock.contentItem
          h2= item.header
          div(class='content')= item.content

div(class='cover-container w-100 solution2')
  div(class='container')
    div(class="row"): div(class="col")
      h1= solution2.title
      hr(class="yellow")
    div(class="row solution2Content")
      div(class="col-8")
        each content in solution2.items
          div(class="contentPanel")
            h2= content.title
            p= content.description
            div(class="subItemsContainer")
              each item in content.subItems
                li= item
      div(class="col-4")
        img(src="/images/solution2-cn.png", class="w-100")
        

div(class="cover-container w-100 solution3")
  div(class="container")
    div(class="row"): div(class="col")
      h1= solution3.title
      hr(class="yellow")
    div(class="row"): div(class="col")
      div(class="row  align-items-center")
        div(class="col-7 solution3ContentPadding")
          each content, index in solution3.items
            if index < 2 
              div(class="content-block")
                h2= content.title
                p= content.description
                div(class="subItemsContainer")
                  each item in content.subItems
                    li= item
        div(class="col-5")
          img(src!="/images/solution3-6-" + currentLang + ".svg", class="w-100")
      div(class="row")
        div(class="col-5")
          img(src!="/images/solution3-7-" + currentLang + ".svg" , class="w-100")
        div(class="col-7")
          - var content = solution3.items[2]
          div(class="content-block")
                h2= content.title
                p= content.description
                div(class="subItemsContainer")
                  each item in content.subItems
                    li= item