- var solution1 = langText.solution.section[0]
- var solution2 = langText.solution.section[1]
- var solution3 = langText.solution.section[2]

div(class='cover-container w-100 solution1')
  div(class='container')
    div(class='row'): div(class='col')
      h1= solution1.title
      hr(class='white')
      each item, index in solution1.items
        if index % 2 == 0 
          div(class='row  align-items-center section')
            div(class='col-md-7', data-aos='fade-right')
              h2!= item.title
              div(class='description')!= item.description
              ul
                each pointItem in item.subItems
                  li= pointItem
            div(class='col-md-5')
              img(src!='../images/' + item.image, class=(item.imageClass?item.imageClass:''), data-aos='fade-left')
        else
          div(class='row  align-items-center section')
            div(class='col-md-5 col-lg-5')
              img(src!='../images/' + item.image, class='leftSideImage', data-aos='fade-right')
            div(class='col-md-7 col-lg-7', data-aos='fade-left')
              h2!= item.title
              div(class='description')!= item.description
              ul
                each point in item.subItems
                  li= point
    div(class='row sectionRemark')
      div(class='col')
        h2!= solution1.descriptionBlock.caption
      div(class='col')
        each item in solution1.descriptionBlock.contentItem
          h2= item.header
          div(class='content')= item.content

div(class='cover-container w-100 solution2')
  div(class='container')
    div(class='row'): div(class='col')
      h1= solution2.title
      hr(class='yellow')
      div(class='row justify-content-center'): div(class='col-10'): div(class='text-center')
        img(src='../images/4.svg', class='w-100', data-aos='fade-up')
      - var solution2Items = solution2.items
      div(class='row')
        div(class='col')
          h2= solution2Items[0].title
          div= solution2Items[0].description
          ul
            each pointItem in solution2Items[0].subItems
              li= pointItem
        div(class='col')
          h2= solution2Items[1].title
          div= solution2Items[1].description
          ul
            each pointItem in solution2Items[1].subItems
              li= pointItem
      div(class='row solution2-3rdItem')
        div(class='col-md-6')
          img(src='../images/5.svg', class='leftSideImage', data-aos='fade-up')
        div(class='col-md-6')
          h2= solution2Items[2].title
          div= solution2Items[2].description
          ul
            each pointItem in solution2Items[2].subItems
              li= pointItem

div(class='cover-container w-100 solution3')
  div(class='container')
    div(class='row'): div(class='col')
      h1= solution3.title
      hr(class='yellow')
      
      each item, index in solution3.items
        if index % 2 == 0 
          div(class='row align-items-center')  
            div(class='col content-block', data-aos='fade-right')  
              h2= item.title
              div= item.description
                ul
                each pointItem in item.subItems
                  li= pointItem
            div(class='col text-center')
              img(src!='../images/' + item.image, data-aos='fade-left')
        else
          div(class='row align-items-center')  
            div(class='col text-center')
              img(src!='../images/' + item.image, data-aos='fade-right')
            div(class='col content-block', data-aos='fade-left')  
              h2= item.title
              div= item.description
                ul
                each pointItem in item.subItems
                  li= pointItem